$trans: rgba(#000000, .0);

$c0: rgba(#080808, .2);
$c1: rgba(#101010, .2);
$c2: #323232;

$a1: rgba(#181818, .2);

$c3: #ff9283;
$c4: #ffffff;
$c5: #50fefc;

$c8: #444444;

* {
  all: unset;
  background-color: $trans;
  font-family: MesloLGS NF;
}

.rounded-box {
    background-color: $c1;
    border-radius: 8px;
    padding: .7rem;
    margin: .3rem;
    color: $c4;
}

@import './resources/resources.scss';
@import './leftbar/leftbar.scss';
@import './topbar/topbar.scss';
