$t1: rgba(#242424, .0); //trans

$c0: #080808; //background
$c1: #101010; //lighter background
$c2: #323232; //lighest background

$a1: #181818; // Accent background

$c3: #ff9283; //#FF968A; //salmon
$c4: #ffffff; //#8A96FF; //blue
$c5: #ffffff; //#9AFF96; //green
$c6: #ffffff; //#FD99D6; //pink

$c7: #ffffff; //white
$c8: #444444; //#0157A3; // LIGHT blue
$c9: #ffffff; //#4457A; // green

* {
  all: unset;
  background-color: $t1;
  font-family: Cousine NF
}

@import './scss/method.scss';
// bar
@import './scss/bar.scss';
// sidebar
@import './scss/sidebar.scss';