// Pannels
.bar-pannel {
    font-size: 1.8em;
    background-color: $c0;
    border-radius: 8px;
    padding: .7rem;
    margin: .4rem;
}
.bar-pannel button:hover {
    color: $c7;
}

.bar-pannel-s {
    font-size: 1.5em;
    background-color: $c0;
    border-radius: 8px;
    padding: .7rem;
    margin: .4rem;
}
.bar-pannel-s button {
    transition: 1s;
}

.bar-pannel-s button:hover {
    transition: 1s;
    color: $c3;
}

.computer-pannel {
  background-color: $c0;
  border-radius: 8px;
  color: $c3;
  padding: .1rem .7rem .1rem .7rem;
  margin: .3rem;
}
.computer-pannel button{
  font-size: 1.7em;
  color: $c3;
}

.computer-pannel scale trough highlight {
  background-color: $c3;
}

// Buttons or labels
.power button{
  color: $c3;
  transition: 0.4s;
  font-size: 1em;
  padding-left: 10px;
}

.power-label button{
  color: $c3;
  font-size: 0.7em;
  padding-left: 10px;
}

.clock-label {
  background-color: $c0;
  border-radius: 8px;
  padding: .1rem .7rem .1rem .7rem;
  margin: .3rem;
  color: $c9;
  font-size: 1.2em;
}
.clock-label button:hover {
  color: $c3
}