// pannels
.respanel {
    background-color: $c0;
    border-radius: 8px;
    padding: .7rem;
    margin: .3rem;
}

.roundpannel {
    background-color: $c1;
    border-radius: 8px;
    padding: .7rem;
    margin: .3rem;
    color: $c4;
}

.roundpannel button {
    transition: 0.4s;
}

.roundpannel button:hover {
    color: $c3;
    transition: 0.4s;
}

.wifipannel {
    background-color: $c1;
    border-radius: 8px;
    color: $c4;
    font-size: 1em;
}

.wifipannel button {
    font-size: 5.4em;
}

.wifipannel button:hover {
    color: $c3;
}

// buttons
.date-label {
    font-size: 1.3em;
    padding-left: 5px;
    color: $c4;
}

.time-label {
    color: $c4;
    font-family: mono;
    font-size: 4.5em;
}

.time-label-2 {
    color: $c4;
    font-family: mono;
    font-size: 23;
}

.radial-label {
    color: $c4;
    font-size: 6em;
    padding: 2.5rem;
}

