!! Colorscheme

! special
*.foreground: #657b83
*.background: #002b36
*.cursorColor: #afbfbf

! black dark/light 
*color0: #073642 
*color8: #002b36 

! red dark/light 
*color1: #dc322f 
*color9: #cb4b16 

! green dark/light 
*color2: #859900 
*color10: #586e75 

! yellow dark/light 
*color3: #b58900 
*color11: #657b83 

! blue dark/light 
*color4: #268bd2 
*color12: #839496 

! magenta dark/light 
*color5: #d33682 
*color13: #6c71c4 

! cyan dark/light 
*color6: #2aa198 
*color14: #93a1a1 

! white dark/light 
*color7: #eee8d5 
*color15: #fdf6e3

!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.font:xft:Monospace:pixelsize=13,xft:Inconsolata\ for\ Powerline:size=13:style=g,Iosevka\ Nerd\ Font,IPAMincho
URxvt.lineSpace: 0
URxvt.geometry: 98x25
URxvt.internalBorder: 15
URxvt.cursorBlink: false
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! URxvt Input
URxvt.inputMethod: ibus 
URxvt.preeditType: OverTheSpot 

!! Cursor
Xcursor.theme: Nordzy-cursors
